body {
    background-color: black;
    color: white;
}

h1,p,h3 {
    text-align: center;
}

a {
    color: rgb(127, 255, 212);
}

video, img {
    display: block;
    margin: auto;
}


#footer {
    text-align: end;
    color: grey;
}
